.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--clr-light);
  color: var(--clr-black);
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
